.login-container {
  height: 85vh;
  display: grid;
  grid-template-rows: 15% 85%;
}

.costs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar-left {
  display: flex;
  margin: 20px;
  background-color: lightskyblue;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar-center {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  background-color: springgreen;
}

.navbar-right {
  display: flex;
  margin: 20px;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
}

.costs-title {
  background-color: aqua;
  margin: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.incomes-group,
.expences-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.add-income,
.add-expence {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.income,
.expense {
  margin: 10px;
  border-radius: 20%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.income {
  background-color: green;
}

.expense {
  background-color: red;
}

.incomes-container,
.expences-container {
  display: grid;
  grid-template-rows: 10% 65% 25%;
}

.income-bottom,
.expence-bottom {
  background-color: dodgerblue;
  margin: 5px;
  border-radius: 20%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.income-bottom:hover,
.expence-bottom:hover {
  background-color: lightskyblue;
}

.navbar-left:hover {
  background-color: aliceblue;
}

.balance {
  font-weight: bold;
}
